@media (max-width: 720px){

	#nav ul{
		flex-direction: column;
		text-align: center;
        top: 0;
	}

	#logo{
		margin: 0;
        padding: 0;
        width: 10px;
    }

    #footer ul {
        flex-direction: column;
		text-align: center;
    }
}



#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Menu */
#nav ul {
    display: flex;
    font-weight: bolder;
    list-style-type: none;	
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #D7E9F7;
    
}

#nav li {
    list-style :none;
    padding-left: 3%;
    padding-right: 3%;
}

.dropdown {
    display: inline-block;
    color: #FDFCE5;
}

/* main menu */
#nav li a, .dropbtn {
    display: inline-block;
    color: #FDFCE5;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
}

/* main menu while hovering */
#nav li a:hover{
    background-color: #F4D19B;
    height: 100%;
    
}

.dropbtn:hover{
    background-color: #F4D19B;
}

/* submenu */
.hidden {
    
    display: none;
    position:fixed;
    background-color: #F4D19B;
    
	z-index: 999;
}

.hidden a {
    color: #FDFCE5;
    padding: 12px 43px;
    text-decoration: none;
    display: block;
}

.hidden a:hover {background-color: #f1f1f1}

.dropdown:hover .hidden {
    display: block;
}


#logo{
    width: 50px;
    padding: 10%;
}


/* Background */
body {
	padding:0;
    margin:0;
}
.logo {
    width: 100%; 
    height: auto;
    max-width: 100%; 
    display: block; 
}

.home-background {
    background-image: url(images/Home-Page-Background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
}





/* Footer */

#footer {
    background-color: #8AB6D6;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-bottom: 3em;
    padding-top: 3em;
    left: 0;
}

    
#footer .copyright {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    letter-spacing: 0.25em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

    #footer .copyright li {
        border-left: solid 1px rgba(255, 255, 255, 0.5);
        display: inline-block;
        line-height: 1.5em;
        margin-left: 1em;
        padding-left: 1em;
    }

       

        #footer .copyright li a {
            color: inherit;
        }

            #footer .copyright li a:hover {
                color: #F4F4F2;
            }
